html, body {
	margin: 0;
	padding: 0;
	background: #ddd;
	color: #888;
	font-size: 24px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
}

.main {
	display: inline-block;
	position: relative;
	background: #555;
	padding-top: 20px;
	height: 60%;
	width: 100%;
}

.box {
	width: 50px;
	height: 100px;
	background: #888;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.shadow {
	width: 50px;
	height: 100px;
	position: absolute;
	background: #333;
	bottom:0;
	left: 50%;
	transform: translateX(-50%);	
}